<br>
<br>
<br>
<br>


<div>
    <main>
        Order: #0021
    </main>
</div>
<br>
<br>
<br>
<div>
    <p >
        Order #0021 was placed on 	10/10/2020  and is currently Completed
    </p>
    <br>
</div>
<form>
    <he>
        Product
    </he>
    <br>
    <br>
    <bor>
        Oliver Twist x1
    </bor>
    <br>
    <br>

    <he>
        Shipping
    </he>
    <br>
    <br>

    <bor>
        Free
    </bor>
    <br>
    <br>
    <he>
        Total
    </he>
    <br>
    <br>
    <bor>
        Rs.1500.00
    </bor>
    <br>
    <br>
    <he>
        Payment method
    </he>
    <br>
    <br>
    <bor>
        Cash on delivery
    </bor>
    <br>
    <br>

</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


