
<br>
<br>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Percy Jackson</mat-card-title>
      <mat-card-subtitle>Book title</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets\Buyer_images\PercyB1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Lightning Thief is a 2005 American fantasy-adventure novel based on Greek mythology, 
        the first young adult novel written by Rick Riordan in the Percy Jackson & the Olympians series.
      </p>
    </mat-card-content>
  
  </mat-card>
  <br>
  <table style="width:50%">
    <tr>
      <th>Order ID:</th>
      <td>#0021</td>
  </tr>
    <tr>
        <th>Product:</th>
        <td>Percy Jackson & the Olympians: The Lightning Thief</td>
    </tr>
    <tr>
        <th>Shipping:</th>
        <td>Free</td>
    </tr>
    <tr>
        <th>Payment Method:</th>
        <td>Cash on delivery</td>
        </tr>
    <tr>
        <th>Total:</th>
        <td>Rs.1500.00</td>
    </tr>   
    </table>
  <br>
  