main{
    text-align:center;

    font-size:50px;
    color: #34282C;
}
p{
    font-size: 30px;
    color: #3e4044;
    
}
he{
    font-size: 25px;
    color: darkslategray;

 }
 bor{
     font-size: 20px;
    border-width:2px;  
    border-style:outset;
    border-color: darkslategray;

 }
