
<div class="container" style="margin-bottom: 60vh;">
    <div style="width: 100%; text-align: right; padding-bottom: 10vh;">
        <img src="../assets/sellar_images/Pro_pic.png" alt="profile pisture" width="5%">
    </div>
    
    <div  style="width: 40%; float: left; text-align: center;">
        <button class="btn btn-secondary" routerLink = "/order">Orders</button><br>
        <button class="btn btn-secondary" routerLink = "/update">Update</button><br>
        <button class="btn btn-secondary">Payments</button>
    </div> 
    <div  style="width: 50%; float: right; text-align: center;">
        <button class="btn btn-warning" routerLink= "/add_book">Add Books</button><br>
        <button class="btn btn-secondary">My Books</button><br>
        <button class="btn btn-secondary">Sold Books</button>
    </div>
</div>
