
    <footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
                    <h3>OnlineBooks</h3>
                    <p>online book market</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                    <h2>BooksBYHCL</h2>
                    <ul>
                        <li><a routerLink = "">Event</a></li>
                        <li><a routerLink = "/feedback">Feedback</a></li>
                        <li><a routerLink = "/faq">FAQ</a></li>
                        <li><a routerLink = "/contactus">Contact Is</a></li>
                        <li><a routerLink = "/aboutus">About Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
                    <h2>Follow Us</h2>
                    <p>Follow us on social media</p>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/?lang=en" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://lk.linkedin.com/" target="_blank" ><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.pinterest.com/login/" target="_blank"><i class="fa fa-pinterest"></i></a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-four sm-mb-30">
                    <h2>Our Newslatter</h2>
                    <p>book shop</p>
                    <form action="">
                        <input type="email">
                        <input type="submit" value="subscribe">
                    </form>
                </div>
            </div>
        </div>

    </div>
    <p class="footer-bottom-text">All Right reserved by &copy;HCL.2020</p>    
</footer>
