<div style="margin-top: 10vh;">
<span class = "path"><a routerLink = "">home</a><span class="arrow"> > </span> <span><a routerLink = "/seller">sellar</a></span> <span class="arrow"> > </span> <span class="lastPath"><a  routerLink = "/order">orders</a></span></span>

<div class="container">
    <table border="1" style="width: 80%; margin-top: 10vh;margin-bottom: 10vh;" >
        <tr>
            <th>Order ID</th>
            <th>Books</th>
            <th>Date</th>
            <th>Price</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
        </tr>
    </table>
</div>
</div>
