
<div class="contact1">

  <div class="nametitle1">
    <p align="center">
      <font size="+5" color="#666666" face="Arial Black, Gadget, sans-serif">Testimonials</font>
  </div>
  <!--===============================================================================================-->

  <p>
    <font color="#666666" face="Arial Black, Gadget, sans-serif">4.1 average based on 254 reviews.</font>
  </p>
  <hr style="border:3px solid #f1f1f1">

  <div class="row">
    <div class="side">
      <div>5 star<img width="14px" src="../assets/testimonial/06a.png"></div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-5"></div>
      </div>
    </div>
    <div class="side right">
      <div>150</div>
    </div>
    <div class="side">
      <div>4 star<img width="14px" src="../assets/testimonial/05a.png"></div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-4"></div>
      </div>
    </div>
    <div class="side right">
      <div>63</div>
    </div>
    <div class="side">
      <div>3 star<img width="14px" src="../assets/testimonial/04a.png"></div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-3"></div>
      </div>
    </div>
    <div class="side right">
      <div>15</div>
    </div>
    <div class="side">
      <div>2 star<img width="14px" src="../assets/testimonial/03a.png"></div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-2"></div>
      </div>
    </div>
    <div class="side right">
      <div>6</div>
    </div>
    <div class="side">
      <div>1 star<img width="14px" src="../assets/testimonial/02a.png"></div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-1"></div>
      </div>
    </div>
    <div class="side right">
      <div>20</div>
    </div>
    <div class="side">
      <div>0 star<img width="14px" src="../assets/testimonial/01a.png"></div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-0"></div>
      </div>
    </div>
    <div class="side right">
      <div>0</div>
    </div>
  </div> <br>
  <div></div><br><br>
  <!--===============================================================================================-->


  <!--===============================================================================================-->
  <div class="reviews"></div>
  <div class="container">
    <img src="../assets/testimonial/01.jpg" alt="Avatar" style="width:90px">
    <p><span>
        <font size="+2" color="#666666" face="Arial Black, Gadget, sans-serif">Chris Fox.</font>
      </span>
      <font color="#666666" face="Arial Black, Gadget, sans-serif"> CEO at Mighty Schools.</font>
    </p>
    <p>John Doe saved us from a library disaster.</p><br>
    <img width="100px" src="../assets/testimonial/Star.PNG"><img width="20px" src="../assets/testimonial/06a.png">
  </div>

  <div class="container">
    <img src="../assets/testimonial/05.jpg" alt="Avatar" style="width:90px">
    <p><span>
        <font size="+2" color="#666666" face="Arial Black, Gadget, sans-serif">Rebecca Flex.</font>
      </span>
      <font color="#666666" face="Arial Black, Gadget, sans-serif"> Principle at Mc Schools.</font>
    </p>
    <p>Just the book I need.</p><br>
    <img width="100px" src="../assets/testimonial/Star.PNG"><img width="20px" src="../assets/testimonial/06a.png">
  </div>

  <div class="container">
    <img src="../assets/testimonial/02.jpg" alt="Avatar" style="width:90px">
    <p><span>
        <font size="+2" color="#666666" face="Arial Black, Gadget, sans-serif">Mahesh Samarawikrama.</font>
      </span>
      <font color="#666666" face="Arial Black, Gadget, sans-serif"> Head of ELTS Institute.</font>
    </p>
    <p>No one is better than this.</p><br>
    <img width="100px" src="../assets/testimonial/Star.PNG"><img width="20px" src="../assets/testimonial/06a.png">
  </div>

  <div class="container">
    <img src="../assets/testimonial/03.jpg" alt="Avatar" style="width:90px">
    <p><span>
        <font size="+2" color="#666666" face="Arial Black, Gadget, sans-serif">Gihani Sugathapala.</font>
      </span>
      <font color="#666666" face="Arial Black, Gadget, sans-serif"> Student of ICSS Business College.</font>
    </p>
    <p>Quick Delivery.</p><br>
    <img width="100px" src="../assets/testimonial/Star.PNG"><img width="20px" src="../assets/testimonial/06a.png">
  </div>

  <div class="container">
    <img src="../assets/testimonial/06.jpg" alt="Avatar" style="width:90px">
    <p><span>
        <font size="+2" color="#666666" face="Arial Black, Gadget, sans-serif">Isuri Sandeepani.</font>
      </span>
      <font color="#666666" face="Arial Black, Gadget, sans-serif"> Librarian of Saint mariya school</font>
    </p>
    <p>Almost all the books are available.</p><br>
    <img width="100px" src="../assets/testimonial/Star.PNG"><img width="20px" src="../assets/testimonial/06a.png">
  </div>

  <!--===============================================================================================-->


  <div class="container-contact1-form-btn">
    <button class="contact1-form-btn">
      <a href="../app/Feedback_component/feedback/feedback.component.html"></a>
        <span>
          <font color="#FFFFFF" face="Arial Black, Gadget, sans-serif">Add a review</font>
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </span>
    </button>
  </div>

  </div>






