@media only screen and (min-width: 350px){
  .addCard{
    margin: 0 0 0 0 ;
  }
}

.path{
  padding-top: 50vh;
}
.path a, .arrow{
  color: rosybrown;

}
.path a:hover{
  color: royalblue;
}
.lastPath a{
  color: black;
}
.lastPath{
  background-color: #F3F5F5;
  padding: 2vh;
}
