
<div style="margin-top: 10vh;">
  <div class="container" style="margin-bottom: 20px; margin-top: 20px">

    <span class="path"><a routerLink="">Home</a> >> <span class="arrow">
      </span> <span class="lastPath"><a routerLink="/buyer">My account</a></span></span>



    <div>

      <p style="margin-left: 30%; margin-bottom: 2vh; font-family: 'Monaco'; font-size: 40px; color :darkgray">My
        Account</p>
    </div>

    <div>
      <div style="width: 100%; text-align: right; padding-bottom: 10vh;">
        <img src="../assets/sellar_images/Pro_pic.png" alt="profile pisture" width="10%"
          matTooltip="Edit Profile Picture" style="border-radius: 100px;">
      </div>
      <div style="width: 40%; fixed: left; text-align: center; border-radius: 50px; background-color:#e3eeee;">
        <div>
          <button class="btn btn-secondary" style="width: 250px; border-radius: 50px;" routerLink="/personal"
            matTooltip="Edit Personal details">Personal Settings <span style="float: right;"><i class="fa fa-user"
                aria-hidden="true"></i></span></button>

        </div>
        <div>
          <button class="btn btn-secondary" style="width: 250px; border-radius: 50px;" routerLink="/privacy"
            matTooltip="Edit privacy details">Privacy Settings <span style="float: right;"><i class="fa fa-user-secret"
                aria-hidden="true"></i></span></button>
        </div>
        <div>
          <button class="btn btn-secondary" style="width: 250px; border-radius: 50px;" routerLink="/b_order"
            matTooltip="Show orders"> Orders <span style="float: right;"><i class="fa fa-truck"
                aria-hidden="true"></i></span></button>
        </div>
        <div>
          <button class="btn btn-secondary" style="width: 250px; border-radius: 50px;" routerLink="/payment_methods"
            matTooltip="Edit Payment methods">Payment Settings <span style="float: right;"><i class="fa fa-money"
                aria-hidden="true"></i></span></button>
        </div>
      </div>


      <div style="width: 80%; text-align: center; ">
        <button type="button" class="btn btn-link" style="width: 100px; margin-left: 150vh;">Become a seller</button>

      </div>
    </div>

  </div>


