<div class="container" style="margin-bottom: 20px; margin-top: 20px">
  <h1>
    User Profile
  </h1>

  <div >
    <div style="width: 100%; text-align: right; padding-bottom: 10vh;">
      <img src="../assets/sellar_images/Pro_pic.png" alt="profile pisture" width="5%">
    </div>
    <div style="width: 40%; fixed: left; text-align: center;">
      <div>
        <button class="btn btn-secondary" routerLink="/personal">Personal Settings</button>
        <br>
      </div>
      <div>
        <button class="btn btn-secondary" routerLink="/privacy">Privacy Settings</button>
      </div>
      <div>
        <button class="btn btn-secondary" routerLink="/b_order"> Orders</button>
      </div>
      <div>
        <button class="btn btn-secondary" routerLink="/payment_methods">Payment Settings</button>
      </div>
    </div>
    <div style="width: 30%; text-align: center; ">
      <button>
        Become a Seller
      </button>
    </div>
  </div>








