<div class="container" style="margin-bottom: 20px; margin-top: 20px">
  <h1>
    User Profile
  </h1>

  <div>
    <div style="width: 100%; text-align: right; padding-bottom: 10vh;">
      <img src="../assets/sellar_images/Pro_pic.png" alt="profile pisture" width="10%"
        matTooltip="Edit Profile Picture">
    </div>
    <div style="width: 40%; fixed: left; text-align: center;">
      <div>
        <button class="btn btn-secondary" style="width: 250px;" routerLink="/personal"
          matTooltip="Edit Personal details">Personal Settings <span style="float: right;"><i class="fa fa-user"
              aria-hidden="true"></i></span></button>
        <br>
      </div>
      <div>
        <button class="btn btn-secondary" style="width: 250px;" routerLink="/privacy"
          matTooltip="Edit privacy details">Privacy Settings <span style="float: right;"><i class="fa fa-user-secret"
              aria-hidden="true"></i></span></button>
      </div>
      <div>
        <button class="btn btn-secondary" style="width: 250px;" routerLink="/b_order" matTooltip="Show orders"> Orders
          <span style="float: right;"><i class="fa fa-truck" aria-hidden="true"></i></span></button>
      </div>
      <div>
        <button class="btn btn-secondary" style="width: 250px;" routerLink="/payment_methods"
          matTooltip="Edit Payment methods">Payment Settings <span style="float: right;"><i class="fa fa-money"
              aria-hidden="true"></i></span></button>
      </div>


      <div style="width: 80%; text-align: center; ">

        <button type="button" class="btn btn-light" style="width: 100px; margin-left: 150vh;"
          routerLink="/sellar_stepper">Become a seller</button>
      </div>
    </div>