
<div class="about-section">
    <h1><b>SignUp Details</b></h1>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../assets/signup_images/Buyer.png" alt="" style="width:100%">
        <div class="container">
          <h2><b>Buyer</b></h2>
          <p>You can buy without signing up has its advantages.You can save your delivery address to make reordering easier,track your orders and be entitled to future promotions,offers and discounts.</p>
          <p style="text-align: center; color: dodgerblue;">
          <a href="#">SignUp me as a Buyer</a>   
          </p>    
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="../assets/signup_images/Seller.png" alt="" style="width:100%"> 
        <div class="container">
          <h2><b>Reseller</b></h2>
          <p>You can sell your carefully used international school text book on our site.Register once and start selling as many books as you want on InternationalSchoolBooks.lk.Track your books with your own account.</p>
          <p style="text-align: center; color: dodgerblue;">
          <a href="#">SignUp me as a Reseller</a>   
          </p>    
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src = "../assets/signup_images/BookShopOwner.png" alt="" style="width:100%">
        <div class="container">
          <h2><b>Bookshop Owner</b></h2>
          <p>Reach thousands of international school book buyers who visit our site for the best deal.If you are a bookshop and want to sell your books on InternationalSchoolBooks.lk.</p>
          <p style="text-align: center; color: dodgerblue;">
          <a href="#">SignUp me as a Bookshop Owner</a>   
          </p>   
        </div>
      </div>
    </div>
    
  </div>
  