<div class="container">
  <div class="row" style="margin-top: 10px">
    <div class="col-12 col-md-8 col-lg-8 col-xl-8 col-md-8 col-lg-8 col-xl-8">
      <div class="border border-dark" style="border-radius: 10px">
        <div style="margin: 10px 0 10px 20px">
          <p class="h3">Shipping Information</p>
          <div class="d-flex">
            <div class="form-check">
              <input class="form-check-input position-static" type="radio" name="addressR" id="addressR1"
                     value="option1"
                     aria-label="...">
            </div>
            <div>
              <p class="h6">
                Shalitha Deshan <br>
                No 79/A <br>
                Malabe, Sri lanka <br>
                0117723869
              </p>
            </div>
          </div>
          <div>
            <i class="fa fa-plus" style="margin-right: 10px"></i>
            <a href="">Add new address</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-8 col-lg-4 col-xl-4 col-md-4 col-lg-4 col-xl-4">
      <div class="border border-dark" style="border-radius: 10px">
        <div style="margin: 10px 20px 10px 20px">
          <p class="h3 text-center" style="margin-bottom: 20px">Order Summary</p>
          <p class="h6">Total</p>
          <hr>
          <div style="justify-content: center; display: flex; margin-bottom: 20px">
            <button routerLink="/place_order" class="btn"
                    style="background-color: orange; font-weight: bold; padding: 5px 90px 5px 90px ">Buy
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px">
    <div class="col-12 col-md-8 col-lg-8 col-xl-8 col-md-8 col-lg-8 col-xl-8">
      <div class="border border-dark" style="border-radius: 10px">
        <div style="margin: 10px 0 10px 20px">
          <p class="h3">Payment Information</p>
          <div class="d-flex">
            <div class="form-check">
              <input class="form-check-input position-static" type="radio" name="addressR" id="addressR2"
                     value="option1"
                     aria-label="...">
            </div>
            <div class="d-flex" style="margin-top: 5px">
              <i class="fa fa-cc-mastercard fa-1x" aria-hidden="true"></i>
              <p class="h6" style="margin-left: 10px">**** **** **** 1122</p>
            </div>
          </div>
          <div>
            <i class="fa fa-plus" style="margin-right: 10px"></i>
            <a href="payment_methods">Add new card</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border border-dark" style="border-radius: 10px; margin: 10px 0 10px 0">
    <div style="margin: 10px 0 10px 20px">
      <p class="h3">Order Review</p>
      <div class="d-flex">
        <img src="../../../assets/cart_images/OxfordEnglishDictionary.jpg" height="200" width="150"/>
        <div class="flex-column" style="margin: 30px 0 0 20px">
          <p class="h4">Oxford English Dictionary</p>
          <p class="text-danger h4 font-weight-bold">Rs. 2750.00</p>
        </div>
      </div>

      <div class="quantity d-flex justify-content-end">
        <button class="fa fa-minus btnQuantity" style="color: #757575"></button>
        <input type="text" name="name" value="1">
        <button class="fa fa-plus btnQuantity" style="color: green"></button>
      </div>

      <div class="d-flex justify-content-end">
        <div class="flex-column" style="margin-right: 50px">
          <p class="h5">Subtotal</p>
          <p class="h5">Shipping</p><br>
          <p class="h5">Total</p>
        </div>
        <div class="flex-column" style="margin-right: 20px">
          <p class="h5">2750 .00</p>
          <p class="h5 d-flex justify-content-end">150.00</p><hr>
          <p class="h5 d-flex justify-content-end">2900.00</p>
        </div>
      </div>
    </div>
  </div>

</div>
