
<div >
<div style="width: 90%; background-color: #6F73F5 ; padding: 10vh; margin-left: 10vh;">
    <h3 style="text-align: center; padding-bottom: 8px;">SELL, BUY OR RENT BOOKS & eTEXTBOOKS</h3>
    <form class="form-inline my-2 my-lg-0" style="margin-left: 50vh;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 400px;">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: orange;">Search</button>
    </form>
</div>
<div class="container" style="padding-top: 50px;">
    <div>
        <div style="width: 30%; float: left;">
            <img src="../assets/home_images/free-shipping.JPG" alt="Free shiping">
        </div>
        <div style="width: 70%; float: right;  padding-top: 10vh; padding-left: 5vh; padding-bottom: 15vh;">
            <h3>FREE SHIPPING ON EVERYTHING</h3>
            <p>Now you can save even more! We offer free shipping not only for 
                buybacks but also for purchase and rental orders onwards! Need your 
                purchase/rental urgent? Choose expedited shipping and receive your 
                books within 2-5 business days!</p>
        </div>  
    </div>
    <div>
        <div style="width: 70%; float: left; padding-top: 10vh;">
            <h3>BUY AND RENT eBOOKS INSTANTLY</h3>
            <p>Save up to 60% on eBooks! More than 430 000 titles available and added 
                constantly. Instant access from a computer, tablet or smartphone! 
                Access your books online anytime, anywhere. Stop carrying your heavy 
                loaded backpack! Start saving money and the planet.</p>
        </div>
        <div style="width: 30%; float: right;">
            <img src="../assets/home_images/get-books.JPG" alt="Read Books">
        </div>
    </div>  
</div>
</div>
<app-carousel></app-carousel>