<div style="margin-top: 9vh; padding-bottom: 10vh;">
  <div class="container-fluid" style="background-color: #06B2F7 ; width: 100%; padding: 10vh; ">
    <h3
      style="text-align: center; padding-bottom: 8px; color: azure; font-size: 32px; font-family: 'Didot'; font-weight: 450;">
      SELL, BUY OR RENT BOOKS & eTEXTBOOKS</h3>
    <form class="form-inline my-2 my-lg-0 d-flex" style="justify-content: center">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
             style="width: 400px;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
              style="background-color: orange;">Search
      </button>
    </form>
  </div>
  <div style="padding-top: 50px;">
    <div class="row" style="margin-bottom: 20px; padding: 5vh;">
      <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-md-4 col-lg-4 col-xl-4 home_image" >
        <img class="mx-auto d-block" src="../assets/home_images/free-shipping.JPG" alt="Free shiping">
      </div>
      <div class="col-12 col-md-8 col-lg-8 col-xl-8 col-md-8 col-lg-8 col-xl-8 home_desc" style="padding-top: 10vh;">
        <div class="container">
        <h3 style="font-family: 'Copperplate';">FREE SHIPPING ON EVERYTHING</h3>
        <p class="text-justify">Now you can save even more! We offer free shipping not only for
          buybacks but also for purchase and rental orders onwards! Need your
          purchase/rental urgent? Choose expedited shipping and receive your
          books within 2-5 business days!</p></div>
      </div>
    </div>
  </div>
    <div class="row" style="background-color: #F3F5F5;margin: 5px; padding-top: 5vh; padding-bottom: 5vh;">
      <div class="col-12 col-md-8 col-lg-8 col-xl-8 col-md-8 col-lg-8 col-xl-8 home_desc" style="padding-top: 12vh;" >
        <div class="container"><h3 style="font-family: 'Copperplate';">BUY AND RENT eBOOKS INSTANTLY</h3>
        <p>Save up to 60% on eBooks! More than 430 000 titles available and added
          constantly. Instant access from a computer, tablet or smartphone!
          Access your books online anytime, anywhere. Stop carrying your heavy
          loaded backpack! Start saving money and the planet.</p></div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-md-4 col-lg-4 col-xl-4 home_image" >
      <img class="mx-auto d-block" src="../assets/home_images/get-books.png" alt="Read Books">
      </div>
    </div>
  
</div>
<app-carousel></app-carousel>


<div style="padding-bottom: 5vh;  background-color: #F3F5F5; margin:5px;">
  <h3 style="text-align: center; padding-top: 3vh; padding-bottom: 3vh;">HOW TO BUY A BOOK</h3>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-md-4 col-lg-4 col-xl-4" >
        <img class="mx-auto d-block" src="..\assets\home_images\phone.png">
        <h2 class="text-center">1. ADD TO CART</h2>
        <p class="text-center">Select your book</p>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-md-4 col-lg-4 col-xl-4">
        <img class="mx-auto d-block" src="..\assets\home_images\fun.png">
        <h2 class="text-center">2. SET PAYMENT</h2>
        <p class="text-center">Pay the amount</p>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-md-4 col-lg-4 col-xl-4">
        <img class="mx-auto d-block" src="..\assets\home_images\truck.png">
        <h2 class="text-center">3. SHIP FOR FREE</h2>
        <p class="text-center">Prepaid shipping labels</p>
      </div>
    </div>
  </div>
</div>
