<div style="margin-top: 10vh; padding-bottom: 10vh;">
    <div style="width: 90%; background-color: #06B2F7 ; padding: 10vh; margin-left: 10vh;">
        <h3
            style="text-align: center; padding-bottom: 8px; color: azure; font-size: 32px; font-family: 'Didot'; font-weight: 450;">
            SELL, BUY OR RENT BOOKS & eTEXTBOOKS</h3>
        <form class="form-inline my-2 my-lg-0" style="margin-left: 50vh;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                style="width: 400px;">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                style="background-color: orange;">Search</button>
        </form>
    </div>
    <div class="container" style="padding-top: 50px; margin-bottom: 15vh;">
        <div>
            <div style="width: 30%; float: left;">
                <img src="../assets/home_images/free-shipping.JPG" alt="Free shiping">
            </div>
            <div style="width: 70%; float: right;  padding-top: 10vh; padding-left: 5vh; padding-bottom: 15vh;">
                <h3 style="font-family: 'Copperplate';">FREE SHIPPING ON EVERYTHING</h3>
                <p>Now you can save even more! We offer free shipping not only for
                    buybacks but also for purchase and rental orders onwards! Need your
                    purchase/rental urgent? Choose expedited shipping and receive your
                    books within 2-5 business days!</p>
            </div>
        </div>
        <div>
            <div style="width: 70%; float: left; padding-top: 10vh;">
                <h3 style="font-family: 'Copperplate';">BUY AND RENT eBOOKS INSTANTLY</h3>
                <p>Save up to 60% on eBooks! More than 430 000 titles available and added
                    constantly. Instant access from a computer, tablet or smartphone!
                    Access your books online anytime, anywhere. Stop carrying your heavy
                    loaded backpack! Start saving money and the planet.</p>
            </div>
            <div style="width: 30%; float: right;">
                <img src="../assets/home_images/get-books.JPG" alt="Read Books">
            </div>
        </div>
    </div>
</div>
<app-carousel></app-carousel>

<div style="padding-bottom: 60vh;  background-color: #F3F5F5; margin:5px;" >
    <h3 style="text-align: center; padding-top: 3vh; padding-bottom: 3vh;">HOW TO BUY A BOOK</h3>
    <div style="width: 33.3%; float: left; text-align: center;" >
        <img src = "..\assets\home_images\phone.png">
        <h2>1. ADD TO CART</h2>
        <p>Select your book</p>
    </div>
    <div style="width: 33.3%; float: left; text-align: center;">
        <img src = "..\assets\home_images\fun.png">
        <h2>2. SET PAYMENT</h2>
        <p>Pay the amount</p>
    </div> 
    <div style="width: 33.3%; float: left; text-align: center;">
        <img src = "..\assets\home_images\truck.png">
        <h2>3. SHIP FOR FREE</h2>
        <p>Prepaid shipping labels</p>
    </div>
</div>