<div>
  <h1>Track my orders</h1>
  <input type="text">
  <button>Submit</button>
</div>
<br>
<div>
  <button>Warehouse Pick up</button>
  <button>Out for delivery</button>
  <button>Confirmed</button>
</div>

<br>
<hr>

<div>
  <h2>Warehouse Pickup</h2>
  <p>There are no warehouse pickup orders to display at this time.</p>
</div>

<hr>

<div>
  <h2>Out for Delivery</h2>
  <div>
    <p>Order date: 2020/06/20</p>
    <p>Order id: 152642892</p>
    <p>Ship to: </p>
    <p>No 79/A,<br>Malabe<br>Sri Lanka</p>

    <p>Order status: Shipped</p>
  </div>
</div>

<hr>

<div>
  <h2>Confirmed</h2>
  <p>There are no confirmed orders to display at this time.</p>
</div>


