<div style="margin-top: 10vh;">
  <span class = "path"><a routerLink = "">home</a><span class="arrow"> > </span> <span><a routerLink = "/buyer">buyer</a></span> <span class="arrow"> > </span> <span class="lastPath"><a  routerLink = "/track_my_order">track_my_order</a></span></span>
</div>
<div class="container" style="margin-bottom: 20px; margin-top: 10px">
  <div>
    <p class="h3">Track my orders</p>
    <input type="text" style="padding: 6px 100px">
    <button class="btn" type="submit" style="background-color: orange;">Submit</button>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-md-4 col-lg-4 col-xl-4">
      <div class="neumorphism"
           style="box-shadow: 5px 5px 16px rgb(238,218,185), -5px -5px 16px rgba(255, 255, 255, 0.5); background-color: #ffb54d">
        <p>Warehouse Pick up</p>
      </div>

    </div>
    <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-md-4 col-lg-4 col-xl-4">
      <div class="neumorphism"
           style="box-shadow: 5px 5px 16px rgb(225,204,239), -5px -5px 16px rgba(255, 255, 255, 0.5); background-color: #ffc7ef">
        <p>Out for delivery (1)</p>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-md-4 col-lg-4 col-xl-4">
      <div class="neumorphism"
           style="box-shadow: 5px 5px 16px rgb(192,243,255), -5px -5px 16px rgba(255, 255, 255, 0.5); background-color: #a1e9f7">
        <p>Confirmed</p>
      </div>
    </div>


  </div>

  <br>
  <hr>

  <div>
    <p class="text-danger h4">Warehouse Pickup</p>
    <p class="h5">There are no warehouse pickup orders to display at this time.</p>
  </div>

  <hr>

  <div>
    <p class="text-danger h4">Out for Delivery</p>
    <div class="d-flex justify-content-between">
      <div>
        <p class="h5">Order date: 2020/06/20</p>
        <p class="h5">Order id: 152642892</p>
      </div>
      <div class="h5">
        <p>Ship to: </p>
        <p>No 79/A,<br>Malabe<br>Sri Lanka</p>
      </div>
    </div>
  </div>
  <div>
    <p class="h5">Order status: <b class="text-danger">Shipped</b></p>
  </div>
  <div class="track">
    <div class="step active"><span class="icon"> <i class="fa fa-check"></i> </span> <span
      class="text">Order confirmed</span></div>
    <div class="step active"><span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span>
    </div>
    <div class="step active"><span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span>
    </div>
    <div class="step"><span class="icon"> <i class="fa fa-cubes"></i> </span> <span class="text">Ready for pickup</span>
    </div>
  </div>

  <hr>

  <div>
    <p class="text-danger h4">Confirmed</p>
    <p class="h5">There are no confirmed orders to display at this time.</p>
  </div>


</div>
