<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align: center">SignIn/SignUp</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
        <mat-card-content> 
          <form [formGroup] = "myForm">
            <mat-form-field>
              <input matInput placeholder="Email" formControlName = "Email" required  >
              <mat-error *ngIf="Email.invalid">Email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" formControlName = "Password">
              <mat-error *ngIf="Password.errors && Password.errors.required">
                Password is required
              </mat-error>
              <mat-error *ngIf="Password.errors && Password.errors.minlength">
                Password must be of length 6
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-checkbox>Remember Me!</mat-checkbox>
            <button mat-raised-button color="primary" class="login-button" type="submit" (click) = "go()" >
              Sign In
            </button>

            <button mat-raised-button class="login-button">
              Login with Google
            </button> 
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Sign Up">
        <mat-card-content>
          <app-signup></app-signup>
          <!-- <form action="">
            <mat-form-field>
              <input matInput placeholder="User Name" required name="username" ngModel #username="ngModel" />
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="username.invalid">
                Username is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" required name="email" ngModel #email="ngModel" />
              <mat-error *ngIf="email.invalid">Email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" required minlength="6" name="password" ngModel
                #password="ngModel" />
              <mat-error *ngIf="password.errors && password.errors.required">
                Password is required
              </mat-error>
              <mat-error *ngIf="password.errors && password.errors.minlength">
                Password must be of length 6
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" required minlength="6" name="repassword" ngModel
                #repassword="ngModel" />
              <mat-error *ngIf="repassword.errors && repassword.errors.required">
                Re-Enter Password is required
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="login-button">
              Sign Up
            </button>
          </form> -->
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
    <p><strong>For Buyer </strong> *UN - buyer@gmail.com</p>
    <p style="margin-left: 17%;">*PW - buyer123</p>
    <p><strong>For Sellar </strong> *UN - sellar@gmail.com</p>
    <p style="margin-left: 17%;">*PW - sellar123</p>
  </mat-card>
</div>