<div class="header"></div>
  <div class="main">
    <h1>About Us</h1>
    <p>InternationalSchoolBooks.lk is an online comparison website for international school books which brings together buyers and sellers, where they can buy and sell at the best price.
    </p>
    </div>
    <br>
    <div class="box">
     <p><b style="color: black; font-weight: bold; font-size: 18px;">'If you are a buyer'</b>You can compare prices of NEW books from different bookshops, and compare prices of carefully used books from many resellers, All in one place.Save Time & Save Money, No need to go from Shop to shop to compare prices.Convenient, Now Everything is at a click of a button .</p>
      </div>
      <div class="box1">
        <p><b style="color: black; font-weight: bold; font-size: 18px;">'If you are a Seller'</b>Convenient way to sell your pre-used text books.Free sign up as a seller Limited time offer.Reach thousand of potential international school book buyers.Double benefit - Online listing and at an office to display your book.Earn cash by reselling your books .</p>
        
          </div>

