<div class="container" style="margin-bottom: 20vh; margin-top: 10vh;">
    <div style="text-align: right;">
        <img src="../assets/sellar_images/Pro_pic.png" alt="profile picture" width="5%" style="padding-bottom: 10vh;">
    </div>
    <form>       
        <div class="form-group">
          <label for="inputAddress" ><strong>First Name</strong> </label>
          <input type="text" class="form-control" id="inputAddress" placeholder="charitha">
        </div>
        <div class="form-group">
          <label for="inputAddress2"><strong>Last Name</strong></label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="bandara">
        </div>
        <div class="form-group">
            <label for="inputAddress"><strong>Email</strong></label>
            <input type="text" class="form-control" id="inputAddress" placeholder="charitha">
          </div>
        <div class="form-group">
            <label for="inputAddress2"><strong>Shop Name</strong></label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="shop">
          </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputCity"><strong>City</strong></label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputCity"><strong>Address 01</strong></label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputCity"><strong>Address 02</strong></label>
            <input type="text" class="form-control" id="inputCity">
          </div>
         
          <div class="form-group col-md-4">
            <label for="inputState"><strong>Payment</strong></label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>Ez-cash</option>
              <option>M-cash</option>
            </select>
          </div>
          
        </div> 
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4"><strong>Password</strong></label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
              </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4"><strong>Re-Password</strong></label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
          </div>
        <div style="text-align: center;">
        <button type="submit" class="btn btn-primary" style="width: 150vh; margin-top: 15vh;">update</button>
        </div>
    </form>
</div>
