<br>
<br>
<br>

<div>
   <br>
        <p style="margin-left: 80vh; margin-bottom: 2vh; font-family: 'Monaco'; font-size: 40px; color :darkgray">Update personal details</p>    
    
</div>
<div class="form-group col-md-6" style=" margin-left: 55vh; background-color:#e3eeee; border-radius: 30px;">
    <div>
        <h1></h1>
    </div>
   
    <form>
        <div >
            <label for="fname" ><strong>First Name</strong> </label>
            <input type="text" class="form-control" id="fname" placeholder="John"><br>
       
          </div>
        <div>
            <label for="lname" ><strong>Last Name</strong> </label>
            <input type="text" class="form-control" id="lname" placeholder="Doe"><br>
        </div>
        <div>
            <label for="dname" ><strong>Display Name</strong> </label>
            <input type="text" class="form-control" id="dname" placeholder="JohnDoe"><br>
        </div>
        <div>
            <label for="inputAddress" ><strong>Address</strong> </label>
            <input type="address" class="form-control" id="inputAddress"><br>
        </div>
    </form>
</div>
<div style="text-align: center; margin-bottom: 10vh;">
    <button type="submit" class="btn btn-primary" style="width: 50vh; margin-top: 15vh;  border-radius: 60px;">update</button><br>
    </div>
    <br><br>