<br>
<br>
<br>
<div>
  <br>
</div>
<div class="form-group col-md-6">
    <form>
        <div >
            <label for="fname" ><strong>First Name</strong> </label>
            <input type="text" class="form-control" id="fname" placeholder="John"><br>
       
          </div>
        <div>
            <label for="lname" ><strong>Last Name</strong> </label>
            <input type="text" class="form-control" id="lname" placeholder="Doe"><br>
        </div>
        <div>
            <label for="dname" ><strong>Display Name</strong> </label>
            <input type="text" class="form-control" id="dname" placeholder="JohnDoe"><br>
        </div>
        <div>
            <label for="inputAddress" ><strong>Address</strong> </label>
            <input type="address" class="form-control" id="inputAddress"><br>
        </div>
    </form>
</div>

<div style="text-align: center;">
    <button type="submit" class="btn btn-primary" style="width: 50vh; margin-top: 15vh;">update</button><br>
    </div>
    <br><br>