<div style="margin-top: 10vh;">

    <span class="path"><a routerLink="">Home</a> >> <span class="arrow">
        </span> <span><a routerLink="/buyer">My account</a> >> </span> <span class="arrow">
        </span> <span class="lastPath"><a routerLink="/personal">Personal settings</a></span></span>

    <div>
        <br>
        <p style="margin-left: 80vh; margin-bottom: 2vh; font-family: 'Monaco'; font-size: 40px; color :darkgray">Update
            personal details</p>

    </div>
    <div class="form-group col-md-6" style=" margin-left: 55vh; background-color:#e3eeee; border-radius: 30px;">
        <div>
            <h1></h1>
        </div>

        <form [formGroup] = "updateForm">
            <div>
                <label for="fname"><strong>First Name</strong> </label>
                <input type="text" class="form-control" id="fname" placeholder="John"  formControlName = "fname"><br>
                <span class="error" *ngIf="fname.invalid && fname.touched">first name is requerd!</span>
            </div>
            <div>
                <label for="lname"><strong>Last Name</strong> </label>
                <input type="text" class="form-control" id="lname" placeholder="Doe"  formControlName = "lname"><br>
                <span class="error" *ngIf="lname.invalid && lname.touched">last name is requerd!</span>
            </div>
            <div>
                <label for="dname"><strong>Display Name</strong> </label>
                <input type="text" class="form-control" id="dname" placeholder="JohnDoe"  formControlName = "dname"><br>
                <span class="error" *ngIf="dname.invalid && dname.touched">display name is requerd!</span>
            </div>
            <div>
                <label for="inputAddress"><strong>Address</strong> </label>
                <input type="address" class="form-control" id="inputAddress"  formControlName = "adderss"><br>
            </div>
        </form>
    </div>
    <div style="text-align: center; margin-bottom: 10vh;">
        <button type="submit" class="btn btn-primary"
            style="width: 50vh; margin-top: 15vh;  border-radius: 60px;">update</button><br>
    </div>
    <br><br>
</div>