<div style="margin-top: 10vh;">
<div class="faq">
  <h1><b>Frequently Asked Questions</b></h1>
  <img src="../assets/faq_images/image.svg" alt="" class="center">
</div>
<div class="container">
  <p style="text-align: center; font-size: 22px; background-color: rgba(30, 33, 189,1); padding: 20px; color: white;">
    <b>Buyer-Purchasing</b></p>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(29, 245, 234, 1); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>How do I buy a book?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul>
              <li>Step 1</li>
              <p>Select any text book that you prefer, Click add it to cart & Select proceed to checkout.</p>
              <li>Step 2</li>
              <p>Fill the form, click submit.</p>
              <li>Step 3</li>
              <p>Select a payment method from any options given below (Ex- credit card, direct bank deposit , Ez cash) &
                submit.</p>

            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(29, 245, 234, 1); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>Do I have to be a member to buy a book?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul>
              <li>NO, you don’t have to be a member to purchase a book.</li>
            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(29, 245, 234, 1); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>What are the benefits of becoming a member?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul>
              <li>You can sell a book as an individual seller only if you become a member and also be added to our
                promotions & discounts./li>
            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(29, 245, 234, 1); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>Do you accept orders over the phone?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul>
              <li>No you can't,But you can call & place an order with the help of our online assistants.</li>
            </ul>


          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(29, 245, 234, 1); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>What kind of payments do you accept?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>

            <ul>
              <p><b>We accept three methods of payments.</b></p>
              <li> Direct bank deposits</li>
              <li> Credit cards</li>
              <li>Ez cash</li>
            </ul>


          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(29, 245, 234, 1); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>What measures have been taken to protect my payments & personal information?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul>
              <li>We offer the use of a secure server. All supplied sensitive/credit information is transmitted via
                Secure Socket Layer (SSL) technology and then encrypted into our Payment Gateway providers database only
                to be accessible by those authorized with special access rights to such systems, and are required to
                keep the information confidential.</li>


            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(29, 245, 234, 1); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>How can I get Special offers & discounts?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul>
              <li>By registering yourself as a Member you can enjoy our Promotions & Discounts.</li>


            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(29, 245, 234, 1); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>How do I change my delivery address?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul>
              <li>If you are a member, you can log in to your account from the menu & click on “my account details”.
                Then click on “edit” & include your delivery address. Finally click on “update” for immediate updating
                of delivery address.</li>


            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(29, 245, 234, 1); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>What if I can’t find the Book I’m looking for?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul>
              <li>You can go to our Help page & send us a direct email regarding your book, we will help you to figure
                out your book problem with an ease. Also, if we haven’t got the book you are looking for, we can
                “special order” the requested book just for you.</li>


            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>




</div>

<div class="container">
  <p style="text-align: center; font-size: 22px; background-color: rgba(212, 16, 107,1); padding: 20px; color: white;">
    <b>ReSeller-Selling</b></p>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(255, 77, 166,0.8); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>How to sell my books?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul class="ul1">
              <li>Step 1</li>
              <p>Register as a MEMBER and you will have the privilege of selling your Used/New books or if you are a
                bookshop & want to sell books by your own company name register in “Book Shop”.</p>
              <li>Step 2</li>
              <p>Fill in the form with your own password & submit. An e-mail will be delivered to your given e- mail
                account confirming your account at InternationalSchoolBooks.lk.</p>
              <li>Step 3</li>
              <p>After the confirmation, you can sign in with your email & password, go to “My Account”, select “Add
                your book to sell” then fill the form adding your book details and select your book from our database or
                add your own book (which has been approved by the ADMINISTARTOR) and then your book will be added.</p>

            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(255, 77, 166,0.8); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>Can I sell used books at InternationalSchoolBooks.lk?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul class="ul1">
              <li>Yes, you can sell all your used but readable books with its Real condition clearly mentioned.</li>


            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(255, 77, 166,0.8); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>How will I show the book condition?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul class="ul1">
              <li>When you add details of your book select, Book condition as “used” and fill in the rest of the fields.
              </li>


            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(255, 77, 166,0.8); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>How do you pay me?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul class="ul1">
              <li>When a book/s has been purchased by a customer an e-mail will be sent. Payment will only be sent after
                14 days by a cheque incase the customer disputes the condition of the book than what has been described
                on the site.</li>


            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(255, 77, 166,0.8); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>What measures have been taken to protect my payments & sales?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul class="ul1">
              <li>We offer the use of a secure server. All supplied sensitive/credit information is transmitted via
                Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only
                to be accessible by those authorized with special access rights to such systems, and are required to
                keep the information confidential.</li>


            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(255, 77, 166,0.8); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>How does your ranking of selling books work?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul class="ul1">
              <li>Your books would be ranked according to key factors such as price, quality of book, customer reviews
                of your previous sales.</li>


            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div><br>
</div>

<div class="container">
  <p style="text-align: center; font-size: 22px; background-color: rgba(230, 184, 0,1); padding: 20px; color: white;">
    <b>Book Shops</b></p>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(255, 214, 51,0.8); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>Selling a book</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul class="ul2">
              <li>Step 1</li>
              <p>Sign in as a Bookshop.</p>
              <li>Step 2</li>
              <p>Fill in the valid form with your own password & submit. An e-mail will be delivered to your given e-
                mail account which will confirm your account with InternationalSchoolBooks.lk.</p>
              <li>Step 3</li>
              <p>After the confirmation and signing in with your e-mail & password, Go to “My account” select “Add your
                book to sell”. Fill in the form including the book details and select your book from our database or add
                your own book (which has been approved by the ADMINISTRATOR). Now your book will be added to be sold
                under the book title mentioned in your form.</p>

            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(255, 214, 51,0.8); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>How will I create an account to buy a book?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul class="ul2">
              <li>Go to sign in , fill your e-mail , select Book shop under " Do you have an InternationalSchoolBooks.lk
                password?" and submit.
                You will be asked to fill your details in the next page. Please fill your details and continue with your
                registration following the steps given in InternationalSchoolBooks.lk website.</li>


            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(255, 214, 51,0.8); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>How do you pay me?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul class="ul2">
              <li>When a book has been purchased by a customer you will receive an e-mail informing the purchase of your
                book. You will be contacted soon by our accounts division asking your bank details for us to make the
                payment for your sold book.</li>

            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(255, 214, 51,0.8); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>How do you charge me?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul class="ul2">
              <li>Since you are a Book shop & have a “Book Shop” account in our InternationalScholBooks.lk web site , we
                will charge 30 % on each book sale.</li>


            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(255, 214, 51,0.8); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>What measures has been taken to protect my payments & sales?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul class="ul2">
              <li>We offer the use of a secure server. All supplied sensitive/credit information is transmitted via
                Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only
                to be accessible by those authorized with special access rights to such systems, and are required to
                Keep the information confidential.</li>

            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(255, 214, 51,0.8); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>How does your ranking of selling books work?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul class="ul2">
              <li>Your books would be ranked according to key factors such as price, quality of book, customer reviews
                of your previous sales.</li>


            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div><br>

  <div class="row">
    <div class="col-sm-6">
      <mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="color: white; background-color: rgba(255, 214, 51,0.8); height: 30px;">
            <mat-panel-title style="font-size: 18px;">
              <b>How will I know if my book has been sold?</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ul class="ul2">
              <li>When a customer purchases your book, our system will automatically send you an e-mail informing you
                the sale of the specified book & Details of delivering the book/s to us. If a customer cancels the book
                order, you will also be notified with an e-mail & your book automatically will be added in to the
                selling book list.</li>


            </ul>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div><br>
</div>
</div>