<div  style="margin-top: 10vh">
  <span class = "path"><a routerLink = "">home</a><span class="arrow"> > </span> <span class="lastPath"><a  routerLink = "/book_list">book_list</a></span></span>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-md-4 col-lg-4 col-xl-4">
      <p class="text-center h4">All Categories</p>
      <hr>
      <div class="row" style="margin-left: 20px">
        <div class="col-4 col-md-12 col-lg-12 col-xl-12 col-md-12 col-lg-12 col-xl-12">
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Accounting</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Art & Activity</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Atlases</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Biology</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Business Studies</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Chemistry</a><br>
        </div>
        <div class="col-4 col-md-12 col-lg-12 col-xl-12 col-md-12 col-lg-12 col-xl-12">
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Commerce</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Computer Studies</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Dictionaries</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Economics</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">English</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">French</a><br>
        </div>
        <div class="col-4 col-md-12 col-lg-12 col-xl-12 col-md-12 col-lg-12 col-xl-12">
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Geography</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Handwriting Practise</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">History</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Mathematics</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Physics</a><br>
          <a routerLink="" class="text-dark btn" style="margin-bottom: 10px">Science</a><br>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-8 col-xl-8 col-md-8 col-lg-8 col-xl-8">
      <div class="row">
        <div class="col-4 col-md-4 col-lg-4 col-xl-4 col-md-4 col-lg-4 col-xl-4">
          <div style="margin-bottom: 10px">
            <img src="../../../assets/Book_images/AL Economics.jpg" height="180" width="120"
                 class="rounded mx-auto d-block"/>
            <p class="text-center h6" style="margin-top: 10px">Economics O/L</p>
            <p class="text-center h6 text-danger">Rs.1750.00</p>
            <div style="justify-content: center; display:flex;">
              <button class="btn " type="submit" routerLink="/place_order"
                      style="background-color: orange; padding: 5px 30px 5px 30px">Buy
              </button>
            </div>
          </div>

          <div style="margin-bottom: 10px">
            <img src="../../../assets/Book_images/Chemistry.jpg" height="180" width="120"
                 class="rounded mx-auto d-block"/>
            <p class="text-center h6" style="margin-top: 10px">Cambridge Chemistry</p>
            <p class="text-center h6 text-danger">Rs.3250.00</p>
            <div style="justify-content: center; display:flex;">
              <button class="btn " type="submit" routerLink="/place_order"
                      style="background-color: orange; padding: 5px 30px 5px 30px">Buy
              </button>
            </div>
          </div>

          <div style="margin-bottom: 10px">
            <img src="../../../assets/Book_images/Science.jpg" height="180" width="120"
                 class="rounded mx-auto d-block"/>
            <p class="text-center h6" style="margin-top: 10px">Primary Science P3</p>
            <p class="text-center h6 text-danger">Rs.990.00</p>
            <div style="justify-content: center; display:flex;">
              <button class="btn " type="submit" routerLink="/place_order"
                      style="background-color: orange; padding: 5px 30px 5px 30px">Buy
              </button>
            </div>
          </div>
        </div>

        <div class="col-4 col-md-4 col-lg-4 col-xl-4 col-md-4 col-lg-4 col-xl-4">
          <div style="margin-bottom: 10px">
            <img src="../../../assets/Book_images/Economics.jpg" routerLink="/single_book" height="180" width="120"
                 class="rounded mx-auto d-block"/>
            <p class="text-center h6" style="margin-top: 10px">Cambridge Economics</p>
            <p class="text-center h6 text-danger">Rs.2350.00</p>
            <div style="justify-content: center; display:flex;">
              <button class="btn " type="submit" routerLink="/place_order"
                      style="background-color: orange; padding: 5px 30px 5px 30px">Buy
              </button>
            </div>
          </div>

          <div style="margin-bottom: 10px">
            <img src="../../../assets/Book_images/Chemistry 12.jpg" height="180" width="120"
                 class="rounded mx-auto d-block"/>
            <p class="text-center h6" style="margin-top: 10px">Chemistry O/L</p>
            <p class="text-center h6 text-danger">Rs.2890.00</p>
            <div style="justify-content: center; display:flex;">
              <button class="btn " type="submit" routerLink="/place_order"
                      style="background-color: orange; padding: 5px 30px 5px 30px">Buy
              </button>
            </div>
          </div>

          <div style="margin-bottom: 10px">
            <img src="../../../assets/Book_images/Science 10.jpg" height="180" width="120"
                 class="rounded mx-auto d-block"/>
            <p class="text-center h6" style="margin-top: 10px">GCSE Science</p>
            <p class="text-center h6 text-danger">Rs.1560.00</p>
            <div style="justify-content: center; display:flex;">
              <button class="btn " type="submit" routerLink="/place_order"
                      style="background-color: orange; padding: 5px 30px 5px 30px">Buy
              </button>
            </div>
          </div>
        </div>

        <div class="col-4 col-md-4 col-lg-4 col-xl-4 col-md-4 col-lg-4 col-xl-4">
          <div style="margin-bottom: 10px">
            <img src="../../../assets/Book_images/Maths of Accounting.jpg" height="180" width="120"
                 class="rounded mx-auto d-block"/>
            <p class="text-center h6" style="margin-top: 10px">Accounting O/L</p>
            <p class="text-center h6 text-danger">Rs.1550.00</p>
            <div style="justify-content: center; display:flex;">
              <button class="btn " type="submit" routerLink="/place_order"
                      style="background-color: orange; padding: 5px 30px 5px 30px">Buy
              </button>
            </div>
          </div>

          <div style="margin-bottom: 10px">
            <img src="../../../assets/Book_images/Chemistry 13.jpg" height="180" width="120"
                 class="rounded mx-auto d-block"/>
            <p class="text-center h6" style="margin-top: 10px">GCSE Chemistry</p>
            <p class="text-center h6 text-danger">Rs.3560.00</p>
            <div style="justify-content: center; display:flex;">
              <button class="btn " type="submit" routerLink="/place_order"
                      style="background-color: orange; padding: 5px 30px 5px 30px">Buy
              </button>
            </div>
          </div>

          <div style="margin-bottom: 10px">
            <img src="../../../assets/Book_images/Primry Science.jpg" height="180" width="120"
                 class="rounded mx-auto d-block"/>
            <p class="text-center h6" style="margin-top: 10px">Primary Science P5</p>
            <p class="text-center h6 text-danger">Rs.990.00</p>
            <div style="justify-content: center; display:flex;">
              <button class="btn " type="submit" routerLink="/place_order"
                      style="background-color: orange; padding: 5px 30px 5px 30px">Buy
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
