.imgText{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgText:hover{
    border: solid #8EB0B0;
    color: aqua;
    font-size: x-large;
    padding: 2vh;   
    transition: .4s;
}
.imgBtn{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bBtn:hover{
    background-color: #FFC300;
}
