<div class ="container" style="padding-bottom: 15vh; padding-top: 10vh;  " >
    <div style="text-align: center; margin-top: 50vh; padding-bottom: 5vh;" id = "carouselID"><h3 style="font-family: 'Copperplate'; font-size: 25px; color: #424344;">FREEQUENLTY BUY BOOKS</h3></div>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators" >
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="height: 50vh;">
      <div class="carousel-item active">
          <div class="row" >
            <div class="col-3">
               
                <img src="../assets/home_images/b1.jpeg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 01<br>
                        by Author<br>
                        Rs. 1500
                    </p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn" type="button">Add</button>
                </div>
                </div>
          
           
            <div class="col-3"><img src="../assets/home_images/b5.jpg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 02<br>
                        by Author<br>
                        Rs. 500
                    </p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn bBtn" type="button">Add</button>
                </div>
            </div>
            <div class="col-3"><img src="../assets/home_images/b3.jpg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 03<br>
                        by Author<br>
                        Rs. 2500
                    </p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn" type="button">Add</button>
                </div>
            </div>
            <div class="col-3"><img src="../assets/home_images/b4.jpg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 04<br>
                        by Author<br>
                        Rs. 1500
                    </p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn" type="button">Add</button>
                </div>
            </div>
         
          </div>
      
       
      </div>
      <div class="carousel-item">
         <div class="row">
        <div class="col-3"><img src="../assets/home_images/b6.jpg" class="d-block w-100" alt="...">
            <div class="imgText">
                <p>Book 05<br>
                    by Author<br>
                    Rs. 3500
                </p>
            </div>
            <div class="imgBtn">
                <button class="btn btn-secondary bBtn" type="button">Add</button>
            </div>
        </div>
        <div class="col-3"><img src="../assets/home_images/b7.jpg" class="d-block w-100" alt="...">
            <div class="imgText">
                <p>Book 06<br>
                    by Author<br>
                    Rs. 750
                </p>
            </div>
            <div class="imgBtn">
                <button class="btn btn-secondary bBtn" type="button">Add</button>
            </div>
        </div>
        <div class="col-3"><img src="../assets/home_images/b8.jpg" class="d-block w-100" alt="...">
            <div class="imgText">
                <p>Book 07<br>
                    by Author<br>
                    Rs. 4200
                </p>
            </div>
            <div class="imgBtn">
                <button class="btn btn-secondary bBtn" type="button">Add</button>
            </div>
        </div>
        <div class="col-3"><img src="../assets/home_images/b9.jpg" class="d-block w-100" alt="...">
            <div class="imgText">
                <p>Book 08<br>
                    by Author<br>
                    Rs. 1500
                </p>
            </div>
            <div class="imgBtn">
                <button class="btn btn-secondary bBtn" type="button">Add</button>
            </div>
        </div>
        </div>
      </div>
      <div class="carousel-item">
          <div class="row">
             <div class="col-3"><img src="../assets/home_images/b10.jpg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 09<br>
                        by Author<br>
                        Rs. 200
                    </p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn" type="button">Add</button>
                </div>
            </div>
            <div class="col-3"><img src="../assets/home_images/b11.jpg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 10<br>
                        by Author<br>
                        Rs. 1500
                    </p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn" type="button">Add</button>
                </div>
            </div>
            <div class="col-3"><img src="../assets/home_images/b12.jpg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 11<br>
                        by Author<br>
                        Rs. 1550
                    </p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn" type="button">Add</button>
                </div>
            </div>
            <div class="col-3"><img src="../assets/home_images/b13.jpg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 12<br>
                        by Author<br>
                        Rs. 1500
                    </p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn" type="button">Add</button>
                </div>
            </div>
        </div>
    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev" style="width: 20vh;">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next" style="width: 20vh;">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
    </div>
    
  </div>
</div>
<div id="help"></div>
