<div class ="container" style="padding-bottom: 15vh; padding-top: 10vh;  ">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="height: 50vh;">
      <div class="carousel-item active">
          <div class="row" id = "carouselID">
            <div class="col-3">
               
                <img src="../assets/home_images/b1.jpeg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 01</p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn" type="button">Add</button>
                </div>
                </div>
          
           
            <div class="col-3"><img src="../assets/home_images/b2.jpg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 01</p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn bBtn" type="button">Add</button>
                </div>
            </div>
            <div class="col-3"><img src="../assets/home_images/b3.jpg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 01</p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn" type="button">Add</button>
                </div>
            </div>
            <div class="col-3"><img src="../assets/home_images/b4.jpg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 01</p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn" type="button">Add</button>
                </div>
            </div>
         
          </div>
      
       
      </div>
      <div class="carousel-item">
         <div class="row">
        <div class="col-3"><img src="../assets/home_images/b1.jpeg" class="d-block w-100" alt="...">
            <div class="imgText">
                <p>Book 01</p>
            </div>
            <div class="imgBtn">
                <button class="btn btn-secondary bBtn" type="button">Add</button>
            </div>
        </div>
        <div class="col-3"><img src="../assets/home_images/b2.jpg" class="d-block w-100" alt="...">
            <div class="imgText">
                <p>Book 01</p>
            </div>
            <div class="imgBtn">
                <button class="btn btn-secondary bBtn" type="button">Add</button>
            </div>
        </div>
        <div class="col-3"><img src="../assets/home_images/b3.jpg" class="d-block w-100" alt="...">
            <div class="imgText">
                <p>Book 01</p>
            </div>
            <div class="imgBtn">
                <button class="btn btn-secondary bBtn" type="button">Add</button>
            </div>
        </div>
        <div class="col-3"><img src="../assets/home_images/b4.jpg" class="d-block w-100" alt="...">
            <div class="imgText">
                <p>Book 01</p>
            </div>
            <div class="imgBtn">
                <button class="btn btn-secondary bBtn" type="button">Add</button>
            </div>
        </div>
        </div>
      </div>
      <div class="carousel-item">
          <div class="row">
             <div class="col-3"><img src="../assets/home_images/b1.jpeg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 01</p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn" type="button">Add</button>
                </div>
            </div>
            <div class="col-3"><img src="../assets/home_images/b2.jpg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 01</p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn" type="button">Add</button>
                </div>
            </div>
            <div class="col-3"><img src="../assets/home_images/b3.jpg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 01</p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn" type="button">Add</button>
                </div>
            </div>
            <div class="col-3"><img src="../assets/home_images/b4.jpg" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Book 01</p>
                </div>
                <div class="imgBtn">
                    <button class="btn btn-secondary bBtn" type="button">Add</button>
                </div>
            </div>
        </div>
    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev" style="width: 20vh;">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next" style="width: 20vh;">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
    </div>
    
  </div>
</div>
